@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

body{
    margin: 0;
    font-family: "Open Sans";
}

.navbar{
    background-color: rgb(60, 116, 218);
    color: white;
    position: fixed;
    padding: 1rem;
    width: fit-content;
    height: 100vh;
    width: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.navbar > h1{
    margin: 0;
    font-size: 1.75rem;
}

.navbar > .group {
    margin-block: 1rem;
    font-weight: 700;
    margin-left: 1rem;
}

.navbar > .group > span {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.navbar > .svg-container{
    opacity: 0.4;
    align-self: center;
}

.content{
    margin-left: 17rem;
    display: flex;
}

.topbar{
    width: 100%;
    padding-inline: 2rem;
}

.topbar > .row1{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.topbar > .row1 > .right{
    display: flex;
    align-items: center;
    gap: 1rem;
}

#search{
    width: 40vw;
    box-sizing: border-box;
    padding: 0.5rem 1.5rem;
    border-radius: 1000px;
    border: #c5c5c5 1px solid;
    transition: border ease-out 150ms;
    font-size: 0.85rem;
    font-weight: 500;
}

#search:focus{
    border-color: rgb(60, 116, 218);
    outline: none;
}

.topbar > .row1 > .left{
    display: flex;
    align-items: center;
    gap: 1rem;
    font-weight: 600;
    font-size: 1.125rem;
}

.user-icon-container{
    width: 3rem;
    aspect-ratio: 1/1;
    overflow: hidden;
    border-radius: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-icon-container img{
    width: 140%;
}